// ここからheader

.header{
  background-color: #494d49;
  padding: 50px;
  &__topbox{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    &__title{
      font-size: 30px;
      text-shadow: 1px 2px 3px #100010;
      a{
        color: white;
        text-decoration: none; 
      }
    }
    &__input{
      &__word{
        width: 500px;
        margin: 20px 0;
      }
    }
  }
  &__lowerbox{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    &__nickname{
      color: white;
      margin-left: 30px;
    }
    &__link{
      a{
        color: white;
        text-decoration: none;
        margin-left: 30px;
      }
    }
    &__logbox{
      &__1{
        color: white;
        text-decoration: none;
      }
      &__2{
        color: white;
        text-decoration: none;
        margin-right: 30px;
      }
    }
  }
}

// ここからindex

.app-header{
  width: 100vw;
  height: 800px;
  background-image: image-url('top_img2.jpg');
  background-size: cover;
  &__topbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
      color: white;
      font-size: 40px;
      margin: 20px 20px;
      text-shadow: 1px 2px 3px #100010;
    }
    &__logbox{
      margin-right: 20px;
      &__1{
        color: white;
        text-decoration: none;
      }
      &__2{
        color: white;
        text-decoration: none;
      }
    }
  }
  &__middle{
    display: inline-block;
    margin: 60px 80px;
    color: white;
    text-shadow: 1px 2px 3px #100010;
    h2{
      margin: 25px;
      font-size: 20px;
    }
    p{
      margin: 7px;
      font-size: 20px;
    }
  }
  &__lowerbox{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid;
    border-color: rgb(73, 77, 73);
    border-radius: 8px;
    box-shadow: 0 32px 30px -30px rgba(102, 98, 98, 0.15);
    display: flex;
    margin-top: 150px;
    &__content{
      width: 30%;
      margin: 20px 0;
      h1{
        text-align: center
      }
    }
    &__input{
      width: 70%;
      margin: 20px 0;
      &__word{
        width: 90%;
      }
    }
  }
}

.app-main{
  width: 100vw;
  margin-top: 50px;
  &__content{
    &__title{
      font-size: 50px;
      margin-left: 50px;
      margin-top: 50px;
      position: relative;
      h1{
        margin: 0 0 60px 0;
      }
    }
    &__title::after{
      content: "";
      width: 500px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 16%;
      transform: translateX(-50%);
    }
    &__area{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 30px;
      border-bottom: 1px solid;
      border-color: #494d49;
      &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 10px;
        border: 1px solid;
        border-color: #494d49;
        &__submit{
          border-width: 0;
          background-color: white;
          border-color: white;
          font-size: 17px;
          height: 40px;
          cursor: pointer;
        }
      }
    }

    &__review{
      &__box{
        .review-container__box__content{
          width: 90%;
          margin: 0 auto 60px auto;
          display: flex;
          justify-content: center;
          text-align: center;
          border: 1px solid;
          border-color: #494d49;
          border-radius: 8px;
          &__box1{
            width: 40%;
            .item-image{
              margin: 10px;
            }
            .item-price{
              display: flex;  
              justify-content: center;
              font-size: 20px;
              margin: 10px;
              p{
                margin-right: 20px;
              }
            }
            &--new_review{
              form{
                display: inline;
                .td-submit{
                  border-width: 0;
                  font-size: 20px;
                  display: inline-block;
                  padding: 0.5em 1em;
                  text-decoration: none;
                  border-radius: 4px;
                  color: #ffffff;
                  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
                  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
                  border-bottom: solid 3px #5e7fca;
                  cursor: pointer;
                }
              }
            }
          }
          &__box2{
            width: 40%;
            &__avater{
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 10px;
              .reviewer{
                margin-left: 15px;
                font-size: 20px;
              }
            }
            &__title{
              font-size: 20px;
              margin: 10px;
            }
          }
        }
        &__log{
          font-size: 20px;
          margin: 40px;
        }
        table{
          margin: 60px;
          width: 90%;
          td{
            border: 1px solid;
            border-color: #494d49;
          }
          .td-item-name{
            text-align: center;
            padding: 20px;
            a{
              margin-right: 30px;
              font-size: 20px;
              display: inline-block;
              padding: 0.5em 1em;
              text-decoration: none;
              border-radius: 4px;
              color: #ffffff;
              background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
              border-bottom: solid 3px #5e7fca;

            }
            form{
              display: inline;
              .td-submit{
                border-width: 0;
                font-size: 20px;
                display: inline-block;
                padding: 0.5em 1em;
                text-decoration: none;
                border-radius: 4px;
                color: #ffffff;
                background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
                border-bottom: solid 3px #5e7fca;
                cursor: pointer;
              }
            }
          }
          .td-item-price{
            width: 100px;
            text-align: center;
            font-size: 20px;
          }
          .td-reviewer{
            padding: 20px;
          }
          .td-review-content{
            padding: 20px;
          }
        }
      }
    }
  }
}

.app-footer{
  width: 100vw;
  padding: 90px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }
}

// ここからsearch

.search-view{
  .item-box{
    table{
      margin: 60px;
      width: 90%;
      td{
        border: 1px solid #494d49;
      }
      .item-box__item-image{
        width: 130px;
      }
      .item-box__item-name{
        padding: 20px;
        text-align: center;
        form{
          display: inline;
          margin-left: 30px;
          .td-submit{
            border-width: 0;
            font-size: 20px;
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            border-radius: 4px;
            color: #ffffff;
            background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
            border-bottom: solid 3px #5e7fca;
            cursor: pointer;
          }
        }
      }
      .item-box__item-price{
        width: 100px;
        text-align: center;;
      }
    }
  }
}

// ここからshow

.item-new-main{
  padding: 60px 0;
  &__container{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    .item-new-main__item-box{
      margin-bottom: 40px;
      font-size: 18px;
      a{
        margin: 20px;
        font-size: 20px;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #5e7fca;
      }
      td{
        
        border: 1px solid #494d49;
        text-align: center;
      }
      &__image{
      }
      &__name{

      }
      &__price{
        width: 100px;
        
      }
      &__discription{
        td{
          font-size: 18px;
          text-align: center;
          border: 1px solid #494d49;
          text-align: center;
        }
      }
    }

    .review-form{
      background-color: white;
      padding-top: 50px;
      text-align: center;
      .new-form{
        font-size: 25px;
        label{
          display: block;
          margin-bottom: 20px;
          font-size: 30px;
        }
        #review-title{
          height: 30px;
          width: 90%;
          margin-bottom: 30px;
          padding: 20px;
          font-size: 30px;
        }
        .new-form__star-cost{
          margin-bottom: 30px;
        }
        #review-content{
          height: 200px;
          width: 90%;
          padding: 30px;
          font-size: 25px;
        }
        #review-image{
          margin-bottom: 50px;
          width: 420px;
        }
        &__submit{
          &__btn{
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            width: 600px;
            height: 70px;
            border-radius: 15px;
            text-align: center;
            overflow: hidden;
            background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
            cursor: pointer;
          }
        }
      }
    }
    .review-container{
      padding: 60px;
      font-size: 30px;
      
      &__box{
        text-align: center;
        &__title{
        }
        &__content{
          display: flex;
          text-align: center;
          margin: 30px 0;
          border: 1px solid;
          border-color: rgb(73, 77, 73);
          border-radius: 8px;
          &__box1{
            width: 40vw;
            .create-at{
              margin: 10px;
            }
            .avater-box{
              display: flex;
              justify-content: center;
              align-items: center;
              .avater{

              }
              .reviewer{
                margin-left: 15px;
              }
            }
            &__average{
              margin: 10px;
            }
            &__title{
              margin: 10px;
              p {
                font-size: 17px;
              }
            }
            &__content{
              margin: 10px;
              font-size: 25px;
              p {
                font-size: 17px;
              }
            }
            &__image{

            }
          }
          &__box2{
            width: 40vw;
            &__star{
              p{
                margin-top: 10px;
              }
            }
            .review-container__box__destroy{
              margin-top: 30px 0;
              a{
                background-color: red;
                color: white;
                padding: 10px;
                border-radius: 8px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}