.sessions-header{
  width: 100wh;
  background-color: whitesmoke;
  &__content{
    &__title{
      text-align: center;
      a{
        color: white;
        font-size: 40px;
        margin: 20px 20px;
        text-shadow: 1px 2px 3px #100010;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}

.sessions-main{
  width: 100wh;
  background-color: whitesmoke;
  .sessions-container{
    width: 700px;
    margin: 0 auto;
    .sessions__title{
      font-size: 30px;
      text-align: center;
      padding: 22px;
      background-color: white;
      border-bottom: 1px solid #f5f5f5;
    }
    &__inputbox{
      background-color: white;
      &__form{
        padding-top: 30px;
        text-align: center;
        &__label{
          font-size: 14px;
        }
        &__field{
          height: 30px;
          width: 80%;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      &__submit{
        padding-top: 30px;
        text-align: center;
        &__btn{
          width: 85%;
          height: 50px;
          margin: 30px 0 ;
          background-color: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          cursor: pointer
        }
      }
    }
    &__login{
      background-color: white;
      &__no-account{
        text-align: center;
        &__text{
          padding: 40px 64px 20px;
        }
        &__navi{
          a{
            display: inline-block;
            width: 85%;
            margin: 8px 0;
            background-color: #0099e8;
            text-decoration: none;
            color: white;
            line-height: 40px;
          }
        }
      }
    }
  }
}

.sessions-footer{
  width: 100wh;
  background-color: whitesmoke;
  .sessions-footer__content{
    display: flex;
    justify-content: center;
    a{
      color: white;
      font-size: 40px;
      margin: 40px 20px;
      text-shadow: 1px 2px 3px #100010;
      text-decoration: none;
    }
  }
}