// ここからheader

.header{
  background-color: #494d49;
  padding: 50px 0;
  &__container{
    width: 70%;
    margin: 0 auto;
  }
  &__topbox{
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      text-shadow: 1px 2px 3px #100010;
      a{
        color: white;
        text-decoration: none; 
      }
    }
    &__input{
      width: 50%;
      form{
        display: flex;
        .form-control{
        }
      }
    }
  }
  &__lowerbox{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    &__nickname{
      color: white;
    }
    &__link{
      form{
        .submit{
          color: white;
          background-color: transparent;
          border: none;
          cursor: pointer;
          outline: none;
          appearance: none;
        }
      }
      a{
        color: white;
        text-decoration: none;
      }
    }
    &__logbox{
      &__1{
        color: white;
        text-decoration: none;
      }
      &__2{
        color: white;
        text-decoration: none;
      }
    }
  }
}
