// users/show

.mypage{
  width: 70%;
  margin: 30px auto;
  &__header{
    font-size: 40px;
    margin: 10px 0;
  }
  &__container{
    display: flex;
    justify-content: center;
    &__content1{
      width: 50%;
    }
    &__content2{
      width: 50%;
    }
    .title{
      display: inline-flex;
      font-size: 40px;
      margin: 20px 0;
      position: relative;
    }
    .title::after{
      content: "";
      width: 150px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
    }
    .mypage-lists{
      font-size: 40px;
      margin: 20px auto;
      .mypage-list{
        margin: 20px 0;
        .btn{
          width: 80%;
          font-size: 2rem;
        }
      }
    }
  }

}

